/* video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */

#train {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}
#nt {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
}

#nv {
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
}

#status {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 24pt;
}

#target {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    /* transition: all 0.01s ease-in-out; */
}

#overlay {
    position: absolute;
    top: 10;
    left: 0;
    padding-left: 15px;
}

#eyes {
    /* position: absolute; */
    top: 0;
    /* right: 0; */
}