video {
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

#webcam,
#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#eyes {
    position: absolute;
    top: 0;
    right: 0;
}